%div
  %div.pull-left
    %h3 #{@user.provider} users (#{User.count_of_users(@user.friends_connections_mine)})
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th id
          %th name
          %th #{@user.provider}_uid
          %th
          %th Matched with
      %tbody    
        - @user.friends_connections_mine.each do |friends_connection|
          %tr
            %td= friends_connection.user_friend.id
            %td= friends_connection.user_friend.name
            %td= User.display_uid(friends_connection.user_friend)
            %td= link_to 'Show', friends_connection.user_friend
            %td= display_matching_info(@user, friends_connection) 

  %div.pull-right
    - unless @matched_profile.nil?
      %h3 #{@matched_profile.provider} users (#{User.count_of_users(@matched_profile.friends_connections_mine)})
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th id
            %th name
            %th #{@matched_profile.provider}_uid
            %th
            %th Matched by
        %tbody    
          - @matched_profile.friends_connections_mine.each do |friends_connection|
            %tr
              %td= friends_connection.user_friend.id
              %td= friends_connection.user_friend.name
              %td= User.display_uid(friends_connection.user_friend)
              %td= link_to 'Show', friends_connection.user_friend
              %td= display_matching_info(@matched_profile, friends_connection)
  %br{:class => 'cleaner'}/