%h3 A little bit of stats
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th LinkedIn's accounts
      %th Facebook's accounts
      %th{:class => 'matched'} Matched LinkedIns
      %th{:class => 'unmatched'} Unmatched LinkedIns

  %tbody    
    %tr
    - if contacts
      %td= User.count_of_users(users_lin)
      %td= User.count_of_users(users_fb)
      %td= display_matched_rate(Match.matched(users_lin, 'contact'), User.count_of_users(users_lin), Match.success_rate(users_lin.count))
      %td= Match.unmatched(users_lin)
    -else
      %td= User.count_of_users(users_lin)
      %td= User.count_of_users(users_fb)
      %td= display_matched_rate(Match.matched(users_lin), User.count_of_users(users_lin), Match.success_rate(users_lin.count))
      %td= Match.unmatched(users_lin)
