= render :partial => 'users/stats', :locals => {:users_lin => @users_lin, :users_fb => @users_fb, :contacts => false}
%div
  %div.pull-left
    %h3 Facebook users (#{User.count_of_users(@users_fb)})
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th id
          %th first name
          %th last name
          %th facebook_uid
          %th
          %th Matched with
      %tbody    
        - @users_fb.each do |user|
          %tr
            %td= user.id
            %td= user.first_name
            %td= user.last_name
            %td= user.facebook_uid
            %td= link_to 'Show', user
            %td= matched_with(Match.process(user), user)

  %div.pull-right
    %h3 LinkedIn users (#{User.count_of_users(@users_lin)})
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th id
          %th first name
          %th last name
          %th linkedin_uid
          %th
          %th Matched by
      %tbody    
        - @users_lin.each do |user|
          - match_process = Match.reverse_proccess(user)
          %tr
            %td= user.id
            %td= user.first_name
            %td= user.last_name
            %td= user.linkedin_uid
            %td= matched_by(match_process, user, 'show')
            %td= matched_by(match_process, user)
  %br{:class => 'cleaner'}/