= link_to 'Back to homepage', root_url
%h2 User's page: #{@user.name}
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{:colspan => 2}
        %h3 #{provider_color(@user)} account: #{@user.name}
  %tbody
    %tr
      %td #{@user.provider} UID
      %td #{(@user.facebook_uid.nil? ? @user.linkedin_uid : @user.facebook_uid)}
    %tr
      %td First name
      %td #{@user.first_name}
    %tr
      %td Last name
      %td #{@user.last_name}      
    %tr
      %td Username (URL name)
      %td #{@user.username}
    %tr
      %td Birthday
      %td #{@user.birth}
    %tr
      %td Location
      %td #{@user.location}
    %tr
      %td Email
      %td #{@user.email}
    %tr
      %td Education(s)
      %td
        = print_schools(@user)
    %tr
      %td Work position(s)
      %td
        = print_work_positions(@user)
                    
- if @matched_profile.nil?
  %h3{:class => 'unmatched'} Unmatched profile
- else
  %h2{:class => 'matched'} #{matched_info(@matched_profile)}
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:colspan => 2}
          %h3 #{provider_color(@matched_profile)} account: #{@matched_profile.name}
    %tbody
      %tr
        %td #{@matched_profile.provider} UID
        %td #{User.display_uid(@matched_profile)}
      %tr
        %td First name
        %td #{@matched_profile.first_name}
      %tr
        %td Last name
        %td #{@matched_profile.last_name}      
      %tr
        %td Username (URL name)
        %td #{@matched_profile.username}
      %tr
        %td Birthday
        %td #{@matched_profile.birth}
      %tr
        %td Location
        %td #{@matched_profile.location}
      %tr
        %td Email
        %td #{@matched_profile.email}
      %tr
        %td Education(s)
        %td
          = print_schools(@matched_profile)
      %tr
        %td Work Position(s)
        %td
          = print_work_positions(@matched_profile)
                      
                
- if @user.friends_connections_mine.count > 0
  - unless @matched_profile.nil?
    - stats_provider(@user, @matched_profile) #prepare information about FB and LIN users
    = render :partial => 'users/stats', :locals => {:users_lin => @lin, :users_fb => @fb, :contacts => true} #display stats  
  = render :partial => 'users/contact_tables', :locals => {:user => @user, :matched_profile => @matched_profile} #display contact tables

- else
  %p{:class => 'no_friends'} No imported friends/connections.