= form_for @friends_connection do |f|
  -if @friends_connection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@friends_connection.errors.count, "error")} prohibited this friends_connection from being saved:"
      %ul
        - @friends_connection.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :username
    = f.text_field :username
  .actions
    = f.submit 'Save'
