%h1 Listing friends_connections

%table
  %tr
    %th User
    %th Uid
    %th Name
    %th First name
    %th Last name
    %th Username
    %th
    %th
    %th

  - @friends_connections.each do |friends_connection|
    %tr
      %td= friends_connection.user_id
      %td= friends_connection.uid
      %td= friends_connection.name
      %td= friends_connection.first_name
      %td= friends_connection.last_name
      %td= friends_connection.username
      %td= link_to 'Show', friends_connection
      %td= link_to 'Edit', edit_friends_connection_path(friends_connection)
      %td= link_to 'Destroy', friends_connection, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Friends connection', new_friends_connection_path
