%p#notice= notice

%p
  %b User:
  = @friends_connection.user_id
%p
  %b Uid:
  = @friends_connection.uid
%p
  %b Name:
  = @friends_connection.name
%p
  %b First name:
  = @friends_connection.first_name
%p
  %b Last name:
  = @friends_connection.last_name
%p
  %b Username:
  = @friends_connection.username

= link_to 'Edit', edit_friends_connection_path(@friends_connection)
\|
= link_to 'Back', friends_connections_path
