= form_for @work_position do |f|
  -if @work_position.errors.any?
    #error_explanation
      %h2= "#{pluralize(@work_position.errors.count, "error")} prohibited this work_position from being saved:"
      %ul
        - @work_position.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :provider
    = f.text_field :provider
  .actions
    = f.submit 'Save'
