%h1 Listing work_positions

%table
  %tr
    %th User
    %th Provider
    %th
    %th
    %th

  - @work_positions.each do |work_position|
    %tr
      %td= work_position.user_id
      %td= work_position.provider
      %td= link_to 'Show', work_position
      %td= link_to 'Edit', edit_work_position_path(work_position)
      %td= link_to 'Destroy', work_position, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Work position', new_work_position_path
