%p#notice= notice

%p
  %b User:
  = @work_position.user_id
%p
  %b Provider:
  = @work_position.provider

= link_to 'Edit', edit_work_position_path(@work_position)
\|
= link_to 'Back', work_positions_path
