.matched {
	color: #1C8F0D;
}

.unmatched, .no_friends {
	color: #C91010;
}

.facebook {
	color: #114C99;
}

.linkedin {
	color: #ADCDF7;
}

.cleaner {
	clear: both;
}

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}