= form_for @education do |f|
  -if @education.errors.any?
    #error_explanation
      %h2= "#{pluralize(@education.errors.count, "error")} prohibited this education from being saved:"
      %ul
        - @education.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :school
    = f.text_field :school
  .field
    = f.label :year
    = f.number_field :year
  .actions
    = f.submit 'Save'
