%h1 Listing educations

%table
  %tr
    %th User
    %th School
    %th Year
    %th
    %th
    %th

  - @educations.each do |education|
    %tr
      %td= education.user_id
      %td= education.school
      %td= education.year
      %td= link_to 'Show', education
      %td= link_to 'Edit', edit_education_path(education)
      %td= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Education', new_education_path
