%p#notice= notice

%p
  %b User:
  = @education.user_id
%p
  %b School:
  = @education.school
%p
  %b Year:
  = @education.year

= link_to 'Edit', edit_education_path(@education)
\|
= link_to 'Back', educations_path
